.category_card {
    border:2px solid rgba(235, 232, 232, 0.14);
    border-radius: 14px;
    padding: 2em;
    margin: 1em;
    width: 200px;
    height: auto;
    position: relative;
    cursor: pointer;
    display: block;
}
/* .Card:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  } */
.category_card img {
    margin-top: 1em;
    max-height: 200px;
    width: 200px;
    border-radius: 3px;
    object-position: initial;
}
.category_card span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    border: 1px solid rgba(206, 206, 206, 0.14);
    border-top:0;
    border-right:0;
    border-radius: 0 14px;
}
.category_card p {
    font-size: 2vh;
    margin: 0;
}
.category_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#back {
    color: var(--lightFont);
    cursor: pointer;
    padding: 1em;
}
.blur{
    background-color: rgb(255 255 255 / 20%);
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.form {
    position: absolute;
    top: 1em;
    right: 0;
    left: 0;
    width: 400px;
    height: auto;
    margin: 0 auto;
    background: #09181C;
    border: 1px solid rgba(206, 206, 206, 0.14);
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 14px;
    box-shadow: 0 0 11px rgb(255 255 255 / 20%);
}
.form span {
    text-align: right;
    cursor: pointer;
    padding:1em;
}
.form input {
    background: rgba(206, 206, 206, 0.14);
    padding: 1em;
    color: #fff;
    margin: .5em 0;
    border: 0;
    border-radius: 14px;
}
input[type=submit] {
    cursor:pointer;
}
@media screen and (max-width: 992px) {
    #back {
        position: absolute;
        top: 0;
        left: 0;
    }
    .form {
        top: 5%;
        width: 80%;
        height: auto;
        padding: 1em;
    }
    .category_card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}